.list {
    list-style: none;
    padding: 0;
}

.item {
    display: flex;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.item:hover {
    scale: 1.05;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.18);
    color: red;
}